  <footer class="footer">
    © 2024 Boutique Flats LLC. All Rights Reserved
  </footer>
  <script src="/js/lib/lory.js"></script>
  <script src="/js/accordion.js"></script>
  <script src="/js/carousel.js"></script>
  <script src="/js/index.js"></script>
  </body>
</html>